extends layout

block content
  h1= title
  if error
    div.error= error
  form(action="/create", method="POST")
    .form-group
      label(for="name") Name:
      input#name(type="text", name="name", value=student ? student.name : '', required)
    .form-group
      label(for="rollNumber") Roll Number:
      input#rollNumber(type="text", name="rollNumber", value=student ? student.rollNumber : '', required)
    .form-group
      label(for="email") Email:
      input#email(type="email", name="email", value=student ? student.email : '', required)
    .form-group
      label(for="course") Course:
      input#course(type="text", name="course", value=student ? student.course : '', required)
    button.btn.btn-primary(type="submit") Create Student
